* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Jost, Helvetica, sans-serif;
    font-weight: 300;
    color: #fac367;
}

/* headings and logo */

header {
    min-height: 70px;
    width: 100%;
    background-color: rgba(200, 64, 92, .9);
    position: fixed;
    z-index: 2;
}

h1 {
    font-family: Jost, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
}

h2 {
    font-weight: bold;
}

#logo {
    float: left;
    margin-left: 1em;
    font-size: 200%;
    color: #fac367;
}

#menu,
#logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}



#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1em;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #fac367;
}

.active {
    border-bottom: 2px solid #fac367;
}

/* hero section, image and cover text */

#home {
    margin: 0%;
    position: relative;
}


#cover-text {
    font-size: 150%;
    font-family: Jost, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #c8405c;
    border-radius: 30px;

    width: 30rem;
    height: 10rem;

    padding-top: 1rem;
    padding-left: 1rem;

    background-color: rgba(250, 195, 103, .7);

    bottom: 25rem;
    right: 60rem;

    position: absolute;
}

img {
    width: 100%;
    height: 850px;
}

/* mission section */

#mission {
    height: 640px;
}

#our-mission {
    text-align: center;
    font-size: 250%;
}


#left-mission {
    padding-top: 30px;
    width: 60%;
    float: left;
    background-color: rgba(200, 64, 92, .9);
    border-radius: 50px;
    margin-left: 1rem
}

#right-mission {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: ;
    padding-right: 70px;
}


aside>p {
    font-size: 200%;
    margin-left: 20px;
    margin-bottom: 20px;
}

#circle-container {
    width: 500px;
    height: 500px;
    padding: 20px;
    border-style: solid;
    border-color: #c8405c;
    border-width: 2px;
    border-radius: 50%;
    margin-right: 50;
}

#circle-cover-bg {
    background: url('../images/mission-image1.webp') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* classes section */

#classes {
    height: 640px;
    padding-top: 108px;
}

#our-classes {
    text-align: center;
    font-size: 250%;
}

.text-center {
    text-align: center;
}

#hatha-yoga {
    background-color: #c8405c;
    position: relative;
    left: 20px;
    top: -15px;
    padding: 20px;
}

.float-left {
    float: left;
}

#ashtanga-yoga {
    background-color: #c8405c;
    position: relative;
    top: -15px;
    padding: 20px;
}

#meditation {
    background-color: #c8405c;
    position: relative;
    right: 20px;
    top: -15px;
    padding: 20px;
}

.float-right {
    float: right;
}

.classes-box {
    width: 25%;
    margin-right: 10px;
    display: inline-block;
    margin-top: 350px;
    border-radius: 40px;
}

.classes-box>h3 {
    font-size: xx-large;
    font-weight: bold;
}

.classes-box>p {
    font-size: x-large;
}