* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Jost, Helvetica, sans-serif;
    font-weight: 300;
    color: #fac367;
}

p {
    font-size: 150%;
}

/* headings and logo */

header {
    min-height: 70px;
    width: 100%;
    background-color: #c8405c;
}

nav {
    width: 50%;
    display: inline-block;
    text-align: right;
}

h1 {
    font-family: Jost, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
}

h2 {
    font-weight: bold;
}

#logo {
    width: 49%;
    display: inline-block;
    text-align: center;
    font-size: 200%;
    color: #fac367;
}

#menu,
#logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    list-style-type: none;
    margin-right: 1em;
    text-transform: uppercase;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #fac367;
}

.active {
    border-bottom: 2px solid #fac367;
}

/* hero section, image and cover text */

#cover-text {
    font-size: 150%;
    font-family: Jost, Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #c8405c;

    width: 30rem;
    height: 10rem;

    padding-top: 1rem;
    padding-left: 1rem;

    background-color: rgba(250, 195, 103, .7);

    bottom: 32rem;
    right: -3rem;

    position: relative;
}

#hero-image img {
    width: 100%;
    height: 850px;
}

/* mission section */

.mission-left {
    width: 48%;
    background-color: #c8405c;
}

.mission-right {
    width: 33%;
}

.card {
    height: 31.25rem;
}

#mission {
    text-align: center;
}

.mission-container {
    display: flex;
    justify-content: space-evenly;
}

#our-mission {
    text-align: center;
    font-size: 250%;
}

.circle-cover-bg img {
    width: 500px;
    height: 500px;
    padding: 20px;
    border-style: solid;
    border-color: #c8405c;
    border-width: 2px;
    border-radius: 50%;
    object-fit: cover;
}



/* classes section */

.classes-box {
    background-color: #c8405c;
    width: 25%;
}

#classes {
    text-align: center;
}

.classes-container {
    display: flex;
    justify-content: space-evenly;
}

.our-classes {
    text-align: center;
    font-size: 250%;
    padding-top: 10%;
}

/* Contact Section */

#contact>h2 {
    font-size: 250%;
}

#contact {
    margin-top: 5%;
    padding-bottom: 12%;
}

.contact-center {
    text-align: center;
}

.contact-box-container {
    width: 66%;
    margin: 0 auto;
    background-color: #c8405c;
}

.contact-box-left {
    width: 50%;
    margin-top: -20px;
    display: inline-block;
}

.contact-box-right {
    width: 49%;
    text-align: right;
    display: inline-block;
}

.contact-box-right>h3 {
    font-size: x-large;
}

.bold {
    font-weight: bold;
    font-size: x-large;
}

/* Form Section */

h3 {
    font-size: x-large;
}

.join-us li {
    font-size: 150%;
}

.subscription-box {
    background-color: #c8405c;
    width: 20.5%;
    padding: 10px;
    margin: 15px;
    text-align: left;
}

.subscriptions-container ul {
    margin-left: 3.125rem;
}

.standard .move-down {
    margin-top: 25%;
}

.premium .move-down {
    margin-top: 10%;
}

#subscribe h3 {
    text-align: center;
}

.join-us {
    text-align: center;
    font-size: 250%;
}

.subscriptions-container {
    display: flex;
    justify-content: center;
}

form {
    width: 700px;
    padding: 25px;
    border-radius: 8px;
    margin: 25px auto;
}

legend {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

fieldset {
    border: 2px solid;
    margin-top: 20px;
    padding: 8px;
    border-radius: 6px;
}

.block-label {
    display: block;
}

.submit-button {
    display: inline-block;
}

input[type=submit] {
    margin-top: 20px;
    margin-right: 0.75rem;
    padding: 0.75rem;
    background-color: #c8405c;
    color: #fac367;
    border: 2px solid #fac367;
    border-radius: 5px;
}

input[type=reset] {

    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.5rem;
    background-color: #c8405c;
    color: #fac367;
    border: 2px solid #fac367;
    border-radius: 5px;
    position: relative;
    left: 506px;
}

/* Footer Section */

footer {
    background-color: #c8405c;
    padding: 2em 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    color: #fac367;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .mission-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #our-mission {
        padding: 30px 0;
        margin: 0%;
    }

    .mission-left,
    .mission-right {
        width: 100%;
        padding: 2%;
        float: left;
    }
}