* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Jost, Helvetica, sans-serif;
    font-weight: 300;
    color: #6a6e70;
}

/* headings and logo */

header {
    min-height: 65px;
    width: 100%;
    background-color: #b7e4cf;
}

h1 {
    font-family: Jost, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
}

#logo {
    float: left;
    margin-left: 1em;
    font-size: 200%;
}

#menu,
#logo {
    line-height: 75px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}



#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1em;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #fac367;
}

.active {
    border-bottom: 2px solid #fac367;
}